<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>CRWork_Web</display-name>
	
	<!-- upload litter data from file servlet -->

	<servlet>
		<description>Load litter data files</description>
		<servlet-name>LoadFileServlet</servlet-name>
		<servlet-class>com.crwork.web.servlet.LoadFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadFileServlet</servlet-name>
		<url-pattern>/servlet/LoadFileServlet</url-pattern>
	</servlet-mapping>

	<!--user login servlet -->

	<servlet>
		<description>User data</description>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.crwork.web.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/servlet/UserServlet</url-pattern>
	</servlet-mapping>

	<!-- operate litter data -->
	
	<servlet>
		<description>litter data</description>
		<servlet-name>LitterServlet</servlet-name>
		<servlet-class>com.crwork.web.servlet.LitterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LitterServlet</servlet-name>
		<url-pattern>/servlet/LitterServlet</url-pattern>
	</servlet-mapping>

	<!-- export litter data to excel -->
	
	<servlet>
		<description>export excel data</description>
		<servlet-name>ExportExcelServlet</servlet-name>
		<servlet-class>com.crwork.web.servlet.ExportExcelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportExcelServlet</servlet-name>
		<url-pattern>/servlet/ExportExcelServlet</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>